@import "tailwindcss";

:root {
  --background: #0f0303;
  --foreground: #000000;
  --deadpool-red: #E22D35;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-deadpool-red: var(--deadpool-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--font-bebas);
  --font-italianno: var(--font-italianno);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes progressFill {
  to {
    width: 100%;
  }
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #2563eb;
  color: white;
}